:host {
  --badge-font-family: var(--medium-font-family);
  --badge-default-label-color: var(--primary-color);
  --badge-default-background-color: var(--grey-color);

  --badge-info-background-color: var(--blue-light-color);
  --badge-success-background-color: var(--secondary-light-color);

  --badge-warning-label-color: var(--grey-orange-dark-color);
  --badge-warning-background-color: var(--yellow-color);

  --badge-error-label-color: var(--red-color);
  --badge-error-background-color: var(--red-light-color);

  --badge-alternative-background-color: var(--terciary-color);

  --badge-inverted-label-color: var(--on-primary-color);
  --badge-inverted-background-color: var(--primary-color);

  display: inline-block;
}

.badge {
  font-family: var(--badge-font-family);
  color: var(--badge-default-label-color);
  background: var(--badge-default-background-color);
  font-size: var(--text-xxs);
  border-radius: 1rem;
  padding: 4px 6px;
}

.badge.info {
  background: var(--badge-info-background-color);
}

.badge.success {
  background: var(--badge-success-background-color);
}

.badge.warning {
  color: var(--badge-warning-label-color);
  background: var(--badge-warning-background-color);
}

.badge.error {
  color: var(--badge-error-label-color);
  background: var(--badge-error-background-color);
}

.badge.alternative {
  background: var(--badge-alternative-background-color);
}

.badge.inverted {
  color: var(--badge-inverted-label-color);
  background: var(--badge-inverted-background-color);
}
