*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 100%;
}

body {
  font-family: var(--body-font-family);
  font-weight: 500;
  color: var(--on-background-color);
  background: var(--background-color);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:visited {
  color: var(--primary-color);
}
